page-profil-business {
	.header-fv{
		background-color: #051a27;
		border-bottom: 1px solid #00ffd8;
	}
	.toolbar-title-md,.toolbar-title-ios {
	    padding: 0 12px;
	    font-size: 1.6rem;
	    font-weight: 500;
	    color: #FFF;
	}
	.back-button-icon,.back-button-icon-md{
		color:#00ffd8;
	}
	.back-button-icon,.back-button-icon-ios{
		color:#00ffd8;
	}
	.homes{
		width:6%;
		background-color: #051a27;
		padding: 3px;

	}
	.input-place{
		font-size: 12px;
		color: #051a27;
		font-weight: 700; 
	}
	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
	    border-bottom-color: #00ffd8!important;
	    -webkit-box-shadow: unset!important;
	    box-shadow: unset!important;
    }
    .item-md.item-input.item-input-has-focus .item-inner {
	   	border-bottom-color: #00ffd8!important;
	    -webkit-box-shadow: unset!important;
	    box-shadow: unset!important;
    }
    .item-block{
	    border-bottom: 1px solid #dedede;
	    padding-left: 8px;
	    .text-input{
	    	color: #051a27;
	    }
	    ::placeholder {
	    	color: #051a27;
	    }
	}
	.submit-btn{
		border-radius: 0px;
		width: 100%;
		margin: 0 auto;
		background: #00ffd8;
		color: #010101;
		font-weight: bold;
		height: 33px;
		margin-top: 0px;
		opacity: 1 !important;
		text-transform: unset !important ;
	}
}	
