<ion-content padding class="bg-register">
  <div class="logo">
    <img src="assets/images/logo.png" nav-clear menu-close ui-sref="  app.speakers">
  </div>
  <form (ngSubmit)="login()" [formGroup]="form">
    <ion-row>
      <ion-item class="register">
       <ion-label><ion-icon  class="icon-md_ icom-ios_"><ion-img src="assets/icon/img-login.png" class="img-mail"></ion-img></ion-icon></ion-label>
        <ion-input type="email" placeholder="Email" name="email" formControlName="login" required></ion-input>
      </ion-item>
      <ion-item class="register">
       <ion-label><ion-icon name="" class="icon-md_ icom-ios_">
        <ion-img src="assets/icon/img-lock.png" class="img-mail"></ion-img>
       </ion-icon>
       </ion-label>
        <ion-input type="password" placeholder="Mot de passe" name="passwd" formControlName="hash" required></ion-input>
      </ion-item>
    </ion-row>
        <div style="color:white;margin-left:115px;font-size: 10px">{{message}}</div>
    <ion-row>
        <button ion-button round class="submit-btn lg" full type="submit">Valider</button>
    </ion-row>
      <ion-label class="mdp-oublie">
        <p (click)="forgetPassword()" >Mot de passe oublié</p>
        <p (click)="register()" >S'inscrire</p>
      </ion-label>
  </form>
</ion-content>
