destination-bloc {

  position: absolute;
  z-index: 1;
  background: #f7f7f6;
  width: 100%;
  bottom: 0;

  .toolbar, .toolbar-md{
    padding: 0px !important;
    height: 145px;
  }
  ion-list {
		padding-top: 27px;
	}
  .item-ios, .item-md {
  	background-color: transparent!important;
  }
}
