<div class="position" *ngIf="race">
  <ion-list id="destination-bloc">
    <ion-item class="start-item" style="margin-bottom: -12px;">
        <ion-avatar item-start>
          <img src="assets/images/fli.png">
        </ion-avatar>
        <input type="text" name="valeur" class="lieu" [(ngModel)]="race.origin.placeName" 
        placeholder="Lieu de prise en charge" [readonly]="true">
    </ion-item>
    <ion-item class="start-item">
        <ion-avatar item-start>
          <img src="assets/images/fly2.png">
        </ion-avatar>
        <input type="text" name="valeur" class="lieu2" [(ngModel)]="race.destination.placeName" 
        placeholder="Lieu d'arrivé" [readonly]="true">
    </ion-item>
  </ion-list>
</div>
