page-register {
	.logo{
		width: 32%;
		margin: 0 auto;
		margin-bottom: 12%;
		margin-top: 8%;
	}
	.content-md .logo {
		margin-top: 2% ;
	}
	.register.item-block{
		width: 68%;
		margin:0 auto;
		background:transparent;
		margin-bottom: 3%;
	    font-size: 13px;
	}
	.register.item-block{
	    border-bottom: 1px solid #dedede;
	    padding-left: 8px;
	    .text-input{
	    	color: white ;
	    }
	    ::placeholder {
	    	color: white ;
	    }
	    ion-img {
			background-color: transparent;
			min-width: 13px;
		}
		.icon-md {
			font-size: 16px !important
		}
		.icon-ios {
		    color: white;
		    font-size: 19px !important;
		}
	}
    ion-img.img-loaded img {
	    display: block;
	    width: 15px;
    }
	.item-block {
	    padding-left: unset;
	}
	.select-text {
		color: white ;
	}
	ion-label {
		color: white ;
	}
	.item-input .label-md, .item-select .label-md, .item-datetime .label-md ,
	.item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {	
	    color: #fff;
    	margin-bottom: 0px ;
	}
	.text-input-md ,.text-input-ios {
	    color: #fff;
	    margin-bottom: -2px ;
	   	font-size: 11px ;
	}
	.register-2.item-block{
		width: 75%;
		margin: 0 auto;
		margin-top: 0px;
		margin-bottom: 0px;
		background: transparent;
		margin-bottom: 23px;
		font-size: 13px;
		color: #fff;
		margin-top: 7px;
		margin-bottom: 45px;
		 .item-inner {
		    padding-right: 8px;
		    border-bottom: 1px solid transparent;
		}
	}
	.submit-btn{
		border-radius: 0px;
		width: 68%;
		margin: 0 auto;
		background: #00ffd8;
		color: #010101;
		font-weight: bold;
		height: 33px;
		text-transform: unset !important;
		margin-top:14% ;
		font-size: 1.1em ;
	}
	.item-md.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: 0px solid transparent;
	}
	.checkbox-ios .checkbox-icon{
	   	border-radius: 2px;
		position: relative;
		width: 16px;
		height: 16px;
		border-width: 0px;
		margin: 9px 22px 9px 4px;
		}
		.checkbox-ios .checkbox-checked .checkbox-inner{
		top: 2px;
	}
	.item-md.item-block .item-inner {
   		 box-shadow: unset!important;
	}
	.register.item-block:last-child {
		border-bottom: unset ;
	}
	ion-header {
		.icon-ios, .icon-md {
		    color: #00ffd8 !important;
		}
	}
}
