<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg-register">
  <div class="logo">
    <img src="assets/images/logo.png" nav-clear menu-close ui-sref="  app.speakers">
  </div>
  <form (ngSubmit)=[register()] [formGroup]="form">
    <ion-row>
      <ion-item class="register">
      <ion-label><ion-icon ><ion-img src="assets/icon/img-login.png"></ion-img></ion-icon></ion-label>
        <ion-input type="text" placeholder="Nom" formControlName="name" required></ion-input>
      </ion-item>
      <ion-item class="register">
      <ion-label>
        <ion-icon><ion-img src="assets/icon/img-login.png"></ion-img></ion-icon>
      </ion-label>
        <ion-input type="text" placeholder="Prénom" formControlName="first_name" required></ion-input>
      </ion-item>
       <ion-item class="register">
      <ion-label><ion-icon name="call"></ion-icon></ion-label>
        <ion-input type="tel" placeholder="Téléphone" formControlName="phone" required></ion-input>
      </ion-item>
      <ion-item class="register">
       <ion-label><ion-icon name="mail"></ion-icon></ion-label>
        <ion-input type="email" placeholder="Email" formControlName="email"  required></ion-input>
      </ion-item>
      <ion-item class="register">
       <ion-label><ion-icon><ion-img src="assets/icon/img-lock.png"></ion-img></ion-icon></ion-label>
        <ion-input type="password" placeholder="Mot de passe" formControlName="password" required></ion-input>
      </ion-item>
      <ion-item class="register">
       <ion-label><ion-icon><ion-img src="assets/icon/img-lock.png"></ion-img></ion-icon></ion-label>
        <ion-input type="password" placeholder="Confirmer mot de passe" formControlName="repassword" required></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
        <button ion-button round class="submit-btn lg" full type="submit">S'inscrire</button>
    </ion-row>
  </form>
</ion-content>