detail-commande {

  position: absolute;
  bottom: 0;
  z-index: 2;
  background: white;
  width: 100%;

.item-ios{
	background-color: #051a27 !important;
}
.item-md{
	background-color: #051a27 !important;
}
.grid{
	background-color: #051a27;
}
.detail-val{
	color: #FFF;
	font-size: 0.7em;
    font-weight: 700;
    line-height: 20px;
}
.icons-detail{
	width: 8%;
    margin-right: 5px;
}
.submit-btn-detail-commande{
	border-radius: 0px;
    width: 100%;
    margin-top: 9px;
    background: #00ffd8;
    color: #051a27;
    font-weight: bold;
    height: 32px;
    opacity: 1 !important;
    text-transform: unset !important;
    margin-bottom: 7px;
    font-size: 15px;
}
.submit-btn-detail-remove{
	border-radius: 0px;
	width: 100%;
	margin: 0 auto;
	background: #FFF;
	color: #051a27;
	font-weight: bold;
	height: 30px;
	opacity: 1 !important;
	text-transform: unset !important ;
	font-size: 15px;
}
#list-val{
	margin-top: -8px;
}
.list-md {
    margin: -1px 0 0px !important;
}
.contet_{
	position: relative;
	top: -1px;
}
.position{
	background-color:#051a27; 
}
.row{
	margin-top: 26px;
}
}
