<!-- Generated template for the DetailCommandeComponent component -->
<div>
  <div class="position">
  	<ion-grid>
		  <ion-row>
		    <ion-col col-6 col-sm>
		      <ion-list id="list-val">
					  <ion-item *ngIf="service.duration && service.title && service.price ">
					    <p class="detail-val"><img src="assets/images/races.png" class="icons-detail"> <span class="contet_">Durée : {{ service.duration }}</span></p>
					    <p class="detail-val"><img src="assets/icon/detail/{{ service.title | lowercase }}.png" class="icons-detail"><span class="contet_"> Service : {{ service.title }}</span></p>
					    <p class="detail-val"><img src="assets/images/prices.png" class="icons-detail"><span class="contet_"> Prix : {{ service.price }} €</span></p>
					  </ion-item>

					  <ion-item *ngIf="!service.duration && !service.price ">
					    <p class="detail-val"><img src="assets/images/races.png" class="icons-detail"> <span class="contet_">Durée : ... </span></p>
					    <p class="detail-val"><img src="assets/icon/detail/{{ service.title | lowercase }}.png" class="icons-detail"><span class="contet_"> Service : ... </span></p>
					    <p class="detail-val"><img src="assets/images/prices.png" class="icons-detail"><span class="contet_"> Prix : .... €</span></p>
					  </ion-item>
				</ion-list>
		    </ion-col>
		    <ion-col col-5 col-sm>
					<button *ngIf="service.duration && service.title && service.price " ion-button round class="submit-btn-detail-commande lg" full (tap)="order.emit(true)" >Commander</button>

					<button *ngIf="!service.duration && !service.price " ion-button round class="submit-btn-detail-commande lg" full><ion-spinner name="bubbles"></ion-spinner></button>
					<button ion-button round class="submit-btn-detail-remove lg" full (tap)="order.emit(false)">Annuler</button>
		    </ion-col>
		  </ion-row>
		</ion-grid>
  </div>
</div>
