<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle margin-left>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><label>Espace chauffeur</label></ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
<ion-card class="chauffeurName" *ngIf="profile">
    <ion-card-content>
      <ion-item>
         <ion-thumbnail item-start>
          <img src="assets/images/driver.png">
       </ion-thumbnail>
       <h2>{{ profile.name }}</h2>
       <p>{{ profile.firstName }}</p>
      </ion-item>
    </ion-card-content>
</ion-card>
<ion-card class="headerVehicules">
  <ion-card-header>
    Liste des vehicules
    <button ion-button icon-only (tap)="addVehicle()" class="add_vehicle">
      <ion-icon ios="md-add" md="md-add"></ion-icon>
    </button>
    <hr>
  </ion-card-header>
</ion-card>
<ion-card *ngFor="let vehicle of vehicles" class="listes-vehicuyle">
  <img *ngIf="vehicle.picture_url" [src]="vehicle.picture_url" (tap)="selectItem(vehicle)">
  <img *ngIf="!vehicle.picture_url" src="assets/images/{{vehicle.type | lowercase}}.png"  (tap)="selectItem(vehicle)">
  <ion-item  (tap)="selectItem(vehicle)">
    <img ios="ios-car" md="md-car" class="icons" item-start large *ngIf="!vehicle.picture_url" src="assets/images/{{vehicle.type | lowercase}}.png">
    <h2>{{ vehicle.type }}</h2>
    <p>{{ vehicle.brand }} - {{ vehicle.placeNb }} places</p>
  </ion-item>
  <ion-item>
    <button ion-button icon-left clear item-end (tap)="driveItem(vehicle)">
      <ion-avatar >
      	  <img  src="assets/images/drive.png "> 
      </ion-avatar>
      conduire
    </button>
  </ion-item>
</ion-card>
</ion-content>
