page-driver-vehicles {
	.vehicles-value{
		color: #FFF;
		font-size: 13px;
	}
	.content-md, .content-ios{
		background-color: #051a27;
	}
	.title-md, .title-ios{
		text-transform: uppercase;
	}
	ion-content {
		background-color: #051a27 !important;
	}
	.ion-ios-arrow-back{
		float:left;
		font-size:30px;
		color:#00ffd8;
	}
	.toolbar-background-md {
	    border-color: #d0d0d0;
	    background: #051a27;
	}
	.toolbar-title-md {
		color:#fefefe;
	    text-align: center;
	}
	.ion-ios-arrow-forward{
		color: #00ffd8;

	}
	.signe{
		color: #fefefe;
		font-weight: 300;
		font-size: 14px;
	}

	ion-content{
	  background-color: #051a27 !important;
	}
	.icon-md, .icon-ios {
		color: black ;
	}
	.item-md ion-thumbnail img {
	    width: 56px;
	    height: 56px;
    }
    .item-md ion-thumbnail {
	    min-width: 56px;
	    min-height: 56px;
	}
	.content-ios .scroll-content {
		margin-top:68px !important ;
	}
	button.item-ios:not([detail-none]) .item-inner {
		padding-right: 10px ;
		background-image: unset ;
	}
	.item-ios ion-avatar img ,.item-md ion-avatar img{
	    border-radius: 50%;
	    overflow: hidden;
	    width: 23px;
	    height: 23px;
	    margin-top: 5px;
	}
 	ion-header {
 		.toolbar-content-md {
			text-align: center;
			label {
				 font-size: 1.4rem;
				 margin-left: -27px;
			}
		}
 	}
 	.chauffeurName {
 		background-color: transparent;
 		box-shadow: unset ;
 		.item-md,.item-ios {
 			background-color: transparent;
 		}
 		 h2 ,p {
 			color: #00ffd8 !important;
 		}
 		.item-md ion-thumbnail ,.item-ios ion-thumbnail{
		    min-width: 56px;
		    min-height: 56px;
		    background-color: white;
    		border-radius: 50%;
		}
 	}
 	.headerVehicules {
 		background-color: transparent;
 		box-shadow: unset ;
 	}
 	ion-card-header  {
 		color: #00ffd8 !important;
 		hr {
 			background-color:#00ffd8 !important; 
 		}
 	}
 	.add_vehicle {
 	 	background-color: transparent;
 	 	margin-top: -15px;
 	 	float: right;
 	 	span ion-icon{
 	 		color: #00ffd8;
 	 	}
 	}
 	.icons{
 		width:16%;
 	}
 	.listes-vehicuyle {
 		img {
 			max-height: 200px ;
 		}
 	}
}
