page-event {
	.header-fv{
		background-color: #051a27;
		border-bottom: 1px solid #00ffd8;
	}
	.toolbar-title-md,.toolbar-title-ios {
	    padding: 0 12px;
	    font-size: 1.6rem;
	    font-weight: 500;
	    color: #FFF;
	}
	.back-button-icon,.back-button-icon-md{
		color:#00ffd8;
	}
	.back-button-icon,.back-button-icon-ios{
		color:#00ffd8;
	}
	.homes{
		width:6%;
		background-color: #051a27;
		padding: 3px;

	}
	.input-place{
		font-size: 12px;
		color: #051a27;
		font-weight: 700; 
	}
	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
	    border-bottom-color: #00ffd8!important;
	    -webkit-box-shadow: unset!important;
	    box-shadow: unset!important;
    }
    .item-md.item-input.item-input-has-focus .item-inner {
	   	border-bottom-color: #00ffd8!important;
	    -webkit-box-shadow: unset!important;
	    box-shadow: unset!important;
    }
    .item-block{
	    border-bottom: 1px solid #dedede;
	    padding-left: 8px;
	    .text-input{
	    	color: #051a27;
	    }
	    ::placeholder {
	    	color: #051a27;
	    }
	}
	.submit-btn{
		border-radius: 0px;
		width: 100%;
		margin: 0 auto;
		background: #00ffd8;
		color: #010101;
		font-weight: bold;
		height: 33px;
		margin-top: 0px;
		opacity: 1 !important;
		text-transform: unset !important ;
	}
	 [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  }
  .col {
    text-align: center;
    padding: 5px;
  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }
  .currentDate, .otherDate {
    padding: 5px;
  }
  .currentDate {
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 30px;
  }
  .calendar-header {
    background-color: #051a27;
    color: #FFF;
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      margin: 0;
    }
    .calendar-weekday {
      	font-weight: bold;
	    background-color: #051a27;
	    color: #FFF;
	    border-top: 1px solid #00FFD8;
    }
    .calendar-date {
      border-top: solid 1px #1a732d;
      border-bottom: solid 1px #1a732d;
    }
  }
}
