page-add-vehicle {
	.bg-vehicles{
		background:#051a27;
	}
	#vehicle-list{
		margin-top: 23px;
	}
	.toolbar-title {
		color: white ;
	}
	.item-md.item-block .item-inner {
		border-bottom: unset ;
    	box-shadow: unset!important;
	}
	// .save{
	// 	border-radius: 0px;
	// 	margin: 0 auto;
	// 	background: #00ffd8;
	// 	color: #010101;
	// 	font-weight: bold;
	// 	height: 38px;
	// 	margin-top: 75px;
	// 	margin-bottom: 75px;
	// 	opacity: 1 !important;
	// 	text-transform: uppercase!important ;
	// }
	.save{
		border-radius: 0px;
		width: 68%;
		margin: 0 auto;
		background: #00ffd8;
		color: #010101;
		font-weight: 500;
		height: 33px;
		margin-top: 25%;
		margin-bottom: 25%;
		opacity: 1 !important;
		font-size: 1em;
		text-transform: unset !important ;
	}
	.item-ios ,.item-md{
		background-color: transparent;
		font-size: 1.4rem;
		ion-label {
			color: #00ffd8 !important; 
		}
		.text-input {
			color: white ;
		}
		ion-select {
			color: white ;
		}
		button {
			background-color: transparent;
			.icon-md , .icon-ios{
				font-size: 1.6em !important ;
				color: #00ffd8 ;
			}
		}
	}
	.item-ios:last-child {
		
	}
	.imgTaked {
		max-height: 154px;
    	width: auto;
	}

	.pictureVehicule {
		max-height: 200px ;
	}
}
