<ion-header>
  <ion-navbar>
    <ion-title>
      <label>AJOUT VEHICULE</label>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bg-vehicles" padding-horizontal>
	<ion-list id="vehicle-list">
		<ion-item class="vehicle">
	      <ion-label color="primary">Marque</ion-label>
	      <ion-input type="text" placeholder="" required [(ngModel)]="vehicle.brand"></ion-input>
	  </ion-item>
	  <ion-item class="vehicle">
	      <ion-label color="primary">Nombre de place</ion-label>
	      <ion-input type="number" placeholder="" required [(ngModel)]="vehicle.placeNb"></ion-input>
	  </ion-item>
	  <ion-item class="vehicle">
	      <ion-label color="primary">
	        Type
	      </ion-label>
	      <ion-select interface="action-sheet" [(ngModel)]="vehicle.type">
	        <ion-option value="VAN">VAN</ion-option>
	        <ion-option value="VTC">VTC</ion-option>
	        <ion-option value="DEUX-ROUES">DEUX ROUES</ion-option>
	      </ion-select>
	  </ion-item>
	  <ion-item>
	  	<button>
	  		<ion-icon ios="md-camera" md="md-camera" (tap)="takePictureVehicle()"></ion-icon>
	  	</button>
	  </ion-item>
	  	<img  *ngIf="!vehicle.picture_url" class="pictureVehicule">
	  	<img *ngIf="vehicle.picture_url" [src]="vehicle.picture_url" class="pictureVehicule">
	</ion-list>

	<button ion-button block class="save" (tap)="add(vehicle)">Enregistrer</button>

</ion-content>
