client-detail-bloc {

  position: absolute;
  bottom: 0;
  z-index: 2;  
  width: 100%;

  .ratting {
    color:#00ffd8;
  }

	div.input-wrapper {
		max-height: 71px;
	}
	
    #driver_contact {
    position: absolute;
    z-index: 2;
    bottom: 0;
    height: 25%;
    min-height: 165px;

      .detail {
        width: 60%;
        padding: 0 25px;
        float: left;

        span.time {
          color: #00ffd8;
          float: right;
        }
      }

      ion-item, ion-thumbnail, div, ion-label {
        margin: 0;
        padding: 0;

        img {
          width: 100%;
          height: auto;
        }
      }

      ion-item {
        height: 55%;
      }

      .profil_driver {
        width: 25%;
      }

      button {
        width: 30%;
        margin-top: 10px;
        height: 40px;
        color: black;
        border-radius: 0;
        background: #00ffd8;

        ion-icon {
          position: absolute;
          left: 15px;
        }
      }
  }
  .position {
    width: 100%;
    top: 78%;
    background: #f6f6f6;
    line-height: 3px;
    padding-top: 0px;
    height: 137px;

    .item-md{
      background:#f6f6f6;
      padding-left:0px;
    }
    .item-inner{
      border-bottom:none !important;
    }

  }
  .profiles{
    width: 29%;
    margin-top: 0px;
    float: left;
  }
  .clientName{
    width: 71%;
    float: left;
  }
  .starts{
    width: 50%;
    margin-left: 23px;
    float: left;
  }
  .tels{
    float: right;
    margin-right: 4px;
    width: 41%;
  }
  .endre_name{
    font-size: 12px;
  }

  div#botton-c {
    position: absolute;
    top:3px;
  }
  .apples{
    color: #000;
    margin-right: 12px;
    position: relative;
    left: -19px;
  }
  .item-ios{
    padding-left: 0px;
  }
  .position{
    height: 170px;
      .item-inner {
        border-bottom: none !important;
        min-height: 70px;
        padding: 0px !important ;
      img {
        max-height: 97px ;
        width:100% ;
      }
      h2 {
        margin: 2px 0;
        font-size: 1.3rem;
        font-weight: bold;
      }
      .tels {
        margin-right: 21px;
        margin-top: 9px;
        width: 36%;
      }
      .start-item ion label {
        margin-top: -11px;
      }
    }
    div.input-wrapper {
     max-height: 100%;
    }
    ion-label {
      margin:0px ;
    }
    ion-fab {
      top: 47px ;
      .fab-md,.fab-ios {
        background-color: rgba(0,0,0,0.28);
        border-radius:unset ;
        width: 18px;
        height: 25px ;
      }
    }
    ion-fab.right {
      right: 0 ;
    }
  }
  .clientName {
    h2 {
      margin-top: 0;
      font-size: 2.0rem !important;
    }
  }
  .stop{
    border-color: #ed3939;
    background-color: #ed3939;
    color: #fff;
    text-transform: uppercase;
    height: 5.9em;
    width: 100%;
    border-radius: 0px !important;
    top: -4px;
    font-size: 15px;
    position: relative;
    margin: 0px;
  }
  .text_{
    position: relative;
    top: -10px;
    right: -7px;
  }

}

