<div>
	<div class="position">
    <ion-list id="destination-bloc">
      <ion-item class="items-v">
          <div class="profiles">
            <img src="assets/images/client.png" *ngIf="!client.profile.photo_url"/>
            <img [src]="client.profile.photo_url" *ngIf="client.profile.photo_url"/>
          </div>
          <div class="clientName" padding>
            <h2>{{ client.profile.firstName }} {{ client.profile.name }} <span class="time"></span></h2>
            <p class="endre_name"></p>
          </div>
      </ion-item>
      <ion-row>
          <button (tap)="stop(run)" class="stop" *ngIf="run.status=='supported'"><img src="assets/images/end.png" class="end_"><span class="text_"> Fin de cours</span></button>
      </ion-row>
    </ion-list>
  </div>
