page-profile {
	.bg-register ion-col {
		margin: auto;
		 ion-img.img-loaded img {
			width: 100px ;
			height: 100px ;
		}
	}
	ion-label {
		color :#00ffd8 !important;
	}
	ion-img.img-loaded img{
			border-radius: 50% !important ;
		    height: 100px;
		    width: 100px;
		}
	ion-img {
		background-color: transparent;
	}
	ion-navbar.toolbar {
	    height: 75px;
	}

	.toolbar-background-md {
	    border-bottom:1px solid #00ffd8;
	    background:#051a27;
	    color: #fff;
	}
	.toolbar-title-md {
	    color: #fff;
	}
	.toolbar-content-md {
	    text-align: center;
	}
	.pro-img{
		text-align: center;
	    margin-top: 15px;

	    img{
	    width: 100px;
	    border-radius: 50%;
	    height: 100px;
	    //position: fixed;
	    z-index: -9999;
	    margin: auto;
		}
	}
	.pg-1{
		background: transparent;
	}
	.bottom_ {
    	padding-bottom: 3px;
	}
	.prenom{
		color:#00ffd8;
		font-size: 12px;
	}
	.valpre{
		color:#fff;
	}
	.btn-modify{
		background:transparent;
		border-radius:0px;
		box-shadow: unset !important;
		background: unset !important ;
		box-shadow: none !important;
		webkit-box-shadow:none !important;
		-moz-appearance:none;
		
	}
	.button.activated, .button-default.activated{
		background: unset !important ;
		box-shadow: none !important;
		webkit-box-shadow:none !important;
		-moz-appearance:none;
	}
	.item-md.item-block .item-inner {
		border-bottom: none;
	}
	.create{
		font-size: 24px;
	    top: -2px;
	    color: white;

	}
	.create2{
	    font-size: 24px;
	    top: -2px;
	    color: white;
	    //margin-top: 67px;
	    z-index: 9999;
	    left: 7px;
	    margin-left: 42px;
	}
	.list-md .item-input:last-child {
	    border-bottom: 1px solid transparent;
	}
	.item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, 
	.item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner
	 {
	    border-bottom-color: transparent !important;
	    -webkit-box-shadow: inset 0 -1px 0 0 transparent !important;
	    box-shadow: inset 0 -1px 0 0 transparent !important;
	}

	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, 
	.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner
	 {
	    border-bottom-color: transparent !important;
	    -webkit-box-shadow: inset 0 -1px 0 0 transparent !important;
	    box-shadow: inset 0 -1px 0 0 transparent !important;
	}

	.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner 
	{
		border-bottom-color: transparent !important;
	    -webkit-box-shadow: inset 0 -1px 0 0 transparent !important;
	    box-shadow: inset 0 -1px 0 0 transparent !important;
	}

	.item-ios.item-input.item-input-has-focus .item-inner, .item-ios.item-input.input-has-focus .item-inner 
	{
		border-bottom-color: transparent !important;
	    -webkit-box-shadow: inset 0 -1px 0 0 transparent !important;
	    box-shadow: inset 0 -1px 0 0 transparent !important;
	}

	.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child {
		border-bottom-color: transparent !important;
	    -webkit-box-shadow: inset 0 -1px 0 0 transparent !important;
	    box-shadow: inset 0 -1px 0 0 transparent !important;
	}

	.list-ios .item-input.item-input-has-focus:last-child, .list-ios .item-input.input-has-focus:last-child {
		border-bottom-color: transparent !important;
	    -webkit-box-shadow: inset 0 -1px 0 0 transparent !important;
	    box-shadow: inset 0 -1px 0 0 transparent !important;
	}

	.list-md .item-block .item-inner {
	    border-bottom: 0px;
	}
	.text-input-md {
	    margin: 0px 0px;
	    font-size: 18px;

	}
	 // .list-md .item-input:last-child {
	 //    margin-top: -19px;
	//}
	.item-md .item-button {
	    top: -9px;
	    box-shadow: none;
	}
	.item-input ion-input, .item-input ion-textarea {
	    color: white;
	}
	.interline{
	    margin-top: 24px;
	}
	.list-ios {
		margin-bottom: unset !important ;
	}
	.toolbar-title-ios {
		color: white ;
	}
	.submit-btn{
		border-radius: 0px;
		width: 75%;
		margin: 0 auto;
		background: #00ffd8;
		color: #010101;
		font-weight: bold;
		height: 38px;
		margin-top: 20px;
		margin-bottom: 5px;
		opacity: 1 !important;
		text-transform: unset !important ;
	}
	.cam-btn,.acticated{
		background: transparent;
    	box-shadow: none;
    	height: 102px;
	}
	.cam{
		margin-left: 16px;
    	margin-top: -5px;
    	width:60%;
	}

	.list-md .item-block .item-inner ,.list-md .item-input:last-child {
	    border-bottom: 0px;
	    border-bottom-color: transparent!important;
	    box-shadow: unset!important;
   }
}
