<ion-header>
  <ion-navbar>
    <ion-title>
    <label>MON PROFIL</label>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg-register"  >
    <ion-row>
     <ion-col col-auto>
        <button ion-button (click)="takePhoto()" class="cam-btn" *ngIf="profile.photo_url">
          <ion-img width="100" height="100" [src]="profile.photo_url"></ion-img> <br>
        </button>
        <button ion-button (click)="takePhoto()" class="cam-btn" *ngIf="!profile.photo_url">
          <ion-img width="100" height="100" [src]="myPhotoURL"></ion-img> <br>
        </button>
      </ion-col>
    </ion-row>
<div class="interline"></div>
  <ion-list>
    <ion-item class="pg-1">
    <ion-label color="primary"  stacked>Prénom</ion-label>
      <ion-input  type="text" [(ngModel)]="profile.firstName" [readonly]="isReadOnly('firstName')"></ion-input>
      <button type="button" ion-button class="btn-modify" item-end icon-left (tap)="toogleInput('firstName')" *ngIf="isReadOnly('firstName')">
        <ion-icon class="create" ios="md-create" md="md-create"></ion-icon>
      </button>
    </ion-item>
   <ion-item class="pg-1">
    <ion-label color="primary" stacked>Nom</ion-label>
      <ion-input  type="text" [(ngModel)]="profile.name" [readonly]="isReadOnly('name')"></ion-input>
      <button type="button" ion-button class="btn-modify" item-end icon-left (tap)="toogleInput('name')" *ngIf="isReadOnly('name')">
        <ion-icon class="create" ios="md-create" md="md-create"></ion-icon>
      </button>
    </ion-item>
   <ion-item class="pg-1">
    <ion-label color="primary"  stacked>Numéro de téléphone</ion-label>
      <ion-input type="tel" [(ngModel)]="profile.phoneNumber" [readonly]="isReadOnly('phoneNumber')"></ion-input>
      <button type="button" ion-button class="btn-modify" item-end icon-left (tap)="toogleInput('phoneNumber')" *ngIf="isReadOnly('phoneNumber')">
        <ion-icon class="create" ios="md-create" md="md-create"></ion-icon>
      </button>
    </ion-item>
    <ion-item class="pg-1 bottom_">
    <ion-label color="primary"  stacked>Adresse email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" [readonly]="true"></ion-input>
    </ion-item>
    <ion-item class="pg-1">
    <ion-label color="primary"  stacked>Mot de Passe</ion-label>
      <ion-input type="password" value="******" [readonly]="true"></ion-input>
    </ion-item>
  </ion-list>
  <ion-row>
        <button ion-button  class="submit-btn lg" full (click)='updateProfile(profile)'>Valider</button>
  </ion-row>

</ion-content>
