page-conf-param {
	.errors{
		color:#000;
	}
	.header-fv{
		background-color: #051a27;
		border-bottom: 1px solid #00ffd8;
	}
	.toolbar-title-md,.toolbar-title-ios {
	    padding: 0 12px;
	    font-size: 1.6rem;
	    font-weight: 500;
	    color: #FFF;
	}
	.back-button-icon,.back-button-icon-md{
		color:#00ffd8;
	}
	.back-button-icon,.back-button-icon-ios{
		color:#00ffd8;
	}
}
