<ion-header>
  <ion-navbar>
    <!-- <ion-icon class="icon icon-ios ion-ios-arrow-back" (tap)="navCtrl.pop()"></ion-icon> -->
    <ion-title>
      <label class="title-p">AIDE</label>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="help">
  <div class="interligne">
	<button ion-item class="item-fi" (tap)="error()">
	    <label class="signe">Signaler un problème</label> 
	 <ion-icon class="icon icon-ios ion-ios-arrow-forward" item-right></ion-icon>
	</button>
	<button ion-item class="item-fi"  (tap)="error()">
	    <label class="signe">Compte et Carte bancaire</label> 
	 <ion-icon class="icon icon-ios ion-ios-arrow-forward" item-right></ion-icon>
	</button>
	<button ion-item class="item-fi" (tap)="error()">
	    <label class="signe">Guide de l'application</label> 
	 <ion-icon class="icon icon-ios ion-ios-arrow-forward" item-right></ion-icon>
	</button>
	<button ion-item class="item-fi" (tap)="error()">
	    <label class="signe">Inscription</label> 
	 <ion-icon class="icon icon-ios ion-ios-arrow-forward" item-right></ion-icon>
	</button>
	<button ion-item class="item-fi" (tap)="error()">
	    <label class="signe">Accessibilité</label> 
	 <ion-icon class="icon icon-ios ion-ios-arrow-forward" item-right></ion-icon>
	</button>
  </div>
</ion-content>