
page-help {

	.ion-ios-arrow-back{
		float:left;
		font-size:30px;
		color:#00ffd8;
	}
	.title-p{
		font-size: 1.4rem;
	    font-weight: normal;
	    color:#FFF;
	    text-transform:uppercase;
	}
	.toolbar-background-md {
	    border-color: #d0d0d0;
	    background: #051a27;
	}
	.toolbar-title-md {
		color:#fefefe;
	    text-align: center;
	}
	.ion-ios-arrow-forward{
		color: #00ffd8;

	}
	.signe{
		color: #fefefe;
		font-weight: 300;
		font-size: 14px;
	}
	.help{
		background: #051a27;
	}
	.item-fi{
		background: transparent;
	}
	ion-navbar.toolbar {
	   border-bottom: 1px solid #00ffd8;
	}
	.item-md.item-block .item-inner {

	    border-bottom: 1px solid transparent;
	}
	.item-md ,.item-ios{
	    margin-bottom: 10px;
	}
	.interligne{
		margin-top:55px;
	}
	// .back-button.show-back-button {
	// 	display: none;
	// }
	.item-fi.activated {
		background: unset ;
	}
	button.item-ios:not([detail-none]) .item-inner {
		padding-right: 0;
		background-image: none ;
	}
	ion-icon::before {
		margin-top: 5px;
	}
}
