<div>
	<div class="position">
    <ion-fab class="left">
      <button ion-fab mini  (tap)="previous()" *ngIf="!calling">
        <ion-icon ios="md-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>
      </button>
      </ion-fab>
      <ion-fab class="right">
        <button ion-fab mini  (tap)="next()" *ngIf="!calling">
          <ion-icon ios="md-arrow-dropright" md="md-arrow-dropright"></ion-icon>
        </button>
    </ion-fab>
    <ion-list id="destination-bloc" *ngIf="driver">
      <ion-item class="items-v">
          <div class="profiles">
            <img src="assets/images/client.png" *ngIf="!driver.photo_url"/>
            <img [src]="driver.photo_url" *ngIf="driver.photo_url"/>
          </div>
          <div class="vans">
            <img src="assets/images/{{ race.type | lowercase }}.png" *ngIf="!driver.vehicle.picture_url">
            <img [src]="driver.vehicle.picture_url" *ngIf="driver.vehicle.picture_url">
          </div>
      </ion-item>
      <ion-row>
        <ion-col col-6 class="driverIdentities">
          <div class="">
            <h2>{{ driver.firstName }}<span class="time" *ngIf="race && race.duration">{{race.duration}} min</span></h2>
            <p class="endre_name">{{ driver.vehicle.brand }}</p>
            <p class="icon-star">
              <span *ngFor="let rat of [0,1,2,3,4]">
               <ion-icon name="star" class="ratting" *ngIf="rat < driver.averageStars"></ion-icon>
               <ion-icon name="star" class="no_ratting" *ngIf="driver.averageStars <= rat"></ion-icon>&nbsp;
              </span>
            </p>
          </div>
        </ion-col>
        <ion-col col-6 class="appel_">
          <div class="" *ngIf='!driver.occuped'>
            <button ion-button id="calls" (tap)="report(driver)" *ngIf="!calling"><b>Commander le chauffeur</b></button>
            <button ion-button id="report" *ngIf="calling">Appel en cours ...</button>
          </div>
          <div class="" *ngIf='driver.occuped'>
            <button ion-button id="occupy">Occupé</button>
          </div>
            <button ion-button id="cancel" *ngIf="calling" (tap)='cancel()'>Annuler</button>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
