<ion-header class="header-fv">
  <ion-navbar>
    <ion-title class="title-fv">Favoris</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<ion-list>
	  <ion-item>
	  	<ion-label>
	  		<ion-icon  class="icon-md_ icom-ios_">
	  			<ion-img src="assets/images/offre.png" class="homes"></ion-img>
	  		</ion-icon>
	  	</ion-label>
	   <ion-input margin-right id="domicile" placeholder="Domicile" [(ngModel)]="domicile.name"></ion-input>
	  </ion-item>
	</ion-list>
	<ion-row>
      <button ion-button round class="submit-btn lg" full type="submit" (tap)="save(domicile)">Enregistrer</button>
  </ion-row>
</ion-content>
