ion-app._gmaps_cdv_ .nav-decor {
  background-color: transparent !important;
}
page-map {

  ion-header .toolbar {
    background-color: white
  }

  .icon-md, .icon-ios {
    color: #000;
  }

  #map_canvas {
    height: 100%;    
    position: relative;
    width: 100%;
  }

	#map_canvas_short {
    height: calc(100% - 170px);    
    position: relative;
    width: 100%;
    background-color: silver
  }
  .scroll-content {
    margin-top: unset !important;
  }

  .lieu{
    width: 93%;
    border: none;
    font-size: 12px;
    padding: 11px;
    background:#00ffd8;
    color: #051a27;;
  } 


  .lieu2{
    width: 93%;
    border: none;
    font-size: 12px;
    padding: 11px;
    background: #051a27;
    color: #fff;
  }

  .start-item{
    ion-avatar img {
      border-radius: 50%;
      overflow: hidden;
      width: 25px;
      height: 25px;
      text-align: center;
      top: 10px;
      margin-top: 6px;
    }
  }

  .start-item-top{

    color:#051a27;
    height: 0px !important;

    ion-avatar {

      min-width: 25px;
      min-height: 0px;
      display: inline-block;
      width: 36px;

      img {
        border-radius: 0px;
        height: auto;
      } 
    }

    .label{
      font-size: 12px;
    }
  }

  #driver_contact {
    position: absolute;
    z-index: 2;
    bottom: 0;
    height: 25%;
    min-height: 165px;

      .detail {
        width: 60%;
        padding: 0 25px;
        float: left;

        span.time {
          color: #00ffd8;
          float: right;
        }
      }

      ion-item, ion-thumbnail, div, ion-label {
        margin: 0;
        padding: 0;

        img {
          width: 100%;
          height: auto;
        }
      }

      ion-item {
        height: 55%;
      }

      .profil_driver {
        width: 25%;
      }

      button {
        width: 30%;
        margin-top: 10px;
        height: 40px;
        color: black;
        border-radius: 0;
        background: #00ffd8;

        ion-icon {
          position: absolute;
          left: 15px;
        }
      }
  }

  .ratting {
    color:#00ffd8;
  }

  ion-footer .toolbar, ion-footer .toolbar-ios {
    padding: 0px !important;
  }
  #map_canvas {
    background-color: silver ;
  }
  .menu-berber {
    button {
       box-shadow: unset!important

    }
     .icon-md, .icon-ios {
      color: black ;
    }
    .icon {
      font-size: 25px !important;
      // margin-left: 16px;
    }
    .toolbar-background-md ,.toolbar-background-ios  {
      border-color: transparent !important;
      background: transparent !important;
    }

    .button[icon-only] {
      padding: 0;
      width: 8%;
      float: left;

    }
    .bar-button-ios[icon-only] ,.bar-button-md[icon-only] {
      margin-left: 11px ;
    }
    .bar-button-default-ios{
      color: transparent;
      margin-top: 22px;
      border-radius: unset;
      padding: 3px;
    }
  }
}
