<ion-header  [hidden]="run">
  <ion-navbar *ngIf="complete_input">
    <auto-complete-google-input [property]="complete_input" (position)="markResult($event)"></auto-complete-google-input>
    <ion-buttons end class="valide-btn">
      <button ion-button icon-only (tap)="validateAddress()">
        <ion-icon ios="md-checkmark" md="md-checkmark"valide-btn *ngIf="suggest.origin.id"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<div class="menu-berber" *ngIf="run">
  <ion-toolbar>
    <button ion-button icon-only menuToggle margin-left>
        <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</div>

<ion-content>
  <div #map_canvas_short [hidden]="!run" id="map_canvas_short"></div>
	<div #map_canvas [hidden]="run" id="map_canvas"></div>
</ion-content>

<div class="service" *ngIf="run && run.origin && run.destination && run.origin.id && run.destination.id && !isDriver && !runing">
  <ion-list [(hidden)]="!menu_open">
    <ion-item class="start-item-top" *ngFor="let type of vtypes" (tap)="changeCategory(type)">
      <ion-avatar item-start><img src="assets/icon/{{type.icon}}.png"></ion-avatar>
      <span class="">{{type.title}}</span>
    </ion-item>
  </ion-list>
  <button (tap)="toggle_service_menu()" *ngIf="!isDriver">
    <img src="assets/icon/{{select_service.icon}}-white.png" *ngIf="select_service.icon">
  </button>
</div>
<destination-bloc [race]="run" *ngIf="run && !driver && !isDriver && !runing && !select_service.name" (tap)="yourRace()"></destination-bloc>
<detail-commande *ngIf="!runing && select_service.name && displayDetail" [run]="run" [service]="select_service" (order)="confirmOrder($event)"></detail-commande>
<detail-chauffeur-bloc *ngIf="drivers_service && !displayDetail && !isDriver" [drivers]="drivers_service" (driverLocation)="moovCamera($event)" [race]="run" [user]="user"></detail-chauffeur-bloc>
<loading *ngIf="!displayDetail && select_service.name && !drivers_service && !isDriver" [search]="search"></loading>
<disponibility *ngIf="isDriver && !runing" (diponibility)="driverDispo($event)"></disponibility>
<calling-driver *ngIf="runing && !isDriver" [run]="run"></calling-driver>
<client-detail-bloc *ngIf="runing && isDriver && run" [run]="run"></client-detail-bloc>

