
page-payment {

	.ion-ios-arrow-back{
		float:left;
		font-size:30px;
		color:#00ffd8;
	}
	.title-p{
		font-size: 1.4rem;
	    font-weight: normal;
	    color:#FFF;
	    text-transform:uppercase;
	}
	.back-button-icon-md,.back-button-icon-ios{
		color:#02a18f;
	}
	.toolbar-background-md {
	    border-color: #d0d0d0;
	    background: #051a27;
	}
	.toolbar-title-md {
		color:#fefefe;
	    text-align: center;
	}
	ion-navbar.toolbar {
	   border-bottom: 1px solid #00ffd8;
	   font-size:16px !important;
	}
	.ion-ios-arrow-forward{
		color: #00ffd8;

	}

	p{
		color:#fefefe !important;
		font-size: 12px !important;

	}
	.img-pl{
		margin-top: 12px;
		}
	.bg-payement{
		background:#051a27;
		}
	.item{
		background: transparent;
		color: white;
		img{
		width: 31px;

		}
		span{
		color: #7d7d7d;
		margin-left: 7px;
		font-size: 16px;
		}
		.label{
		font-size: 16px;
		}

	}
	.list{
		margin-top: 90px;
		margin-left: 33px;
	}
	.pat{
		color: #00ffd8;
		padding-top: 0px !important;
		.icon{
		margin-right: 25px;
		}

		ion-icon::before {
		    margin-top: 5px;
		}
	}
	pat.activated {
		background: unset ;
	}
	.pat2{
		margin-top: -25px;
	}


	.bott{
		margin-bottom: -18px;
	}
	button.item-ios:not([detail-none]) .item-inner {
		padding-right: 0;
		background-image: none ;
	}
	button.pat.item.item-block.item-ios.activated,button.pat.item.item-block.item-md.activated{
		background: none ;
	}
	.item-md.item-block .item-inner {
    box-shadow: unset!important;
	}
	ion-img {
       min-width: 24px;
       background: unset;
       margin-bottom: -2px;
	}
	.item-1 .label {
    	font-size: 16px;
    	margin-bottom: -18px;
	}

}