<ion-header>
  <ion-navbar>
    <ion-title>
      <label class="title-p">PAIEMENT</label>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bg-payement">
	<ion-list no-lines>
		<ion-item class="item-1">
		   	<p>Moyen de Paiement</p>
		</ion-item>
		<!-- <ion-item class="bott"> -->
	<!-- 		<p class="img-pl">
				<img src="/assets/images/master.png"><span>........2408</span>
			</p> -->
			<!-- <ion-label><ion-icon  class="icon-md_ icom-ios_"><ion-img src="assets/images/master.png"></ion-img></ion-icon></ion-label>
        	<ion-input type="password" placeholder=".......2408" name="card" ></ion-input>
		 </ion-item>  -->
		<button ion-item class="pat" (tap)="stripe()">
		    <label>Stripe</label>
		    <ion-icon class="icon icon-ios ion-ios-arrow-forward paye" item-right></ion-icon>
		</button> 
<!-- 		<div>
			<ion-item class="">
				<p>Promotions</p>
		 	</ion-item> 
		    <button ion-item class="pat pat2">
		        <label item-start>Ajouter un code promotionnel</label>
		    	<ion-icon class="icon icon-ios ion-ios-arrow-forward paye" item-right></ion-icon>	
		    </button>
		</div> -->
	</ion-list>
</ion-content>
