<ion-menu [content]="content">
  <ion-content style="background: #051a27;" *ngIf="profile">
    <div class="icon-men">
	  </div>
	  <div class="pro-img2" no-margin (tap)="openPage(profile_p)">
      <img *ngIf="!profile.photo_url" src="assets/images/client.png">
	    <img *ngIf="profile.photo_url" src="{{ profile.photo_url }}"/>
      <h1>{{ profile.firstName }} {{ profile.name }}</h1>
	  </div>
    <ion-list style="text-align: center">
      <ion-item class="item-tru" menuClose (tap)="openPage(payement_p)">
        <ion-avatar item-start>
          <img src="assets/images/card.png">
        </ion-avatar>
        <p>Paiement</p>
      </ion-item>
  	  <ion-item class="item-tru" menuClose (tap)="openPage(course_p)" *ngIf="!isDriver">
        <ion-avatar item-start>
          <img src="assets/images/car.png">
        </ion-avatar>
		  	<p>Courses</p>
      </ion-item>
  	  <!--ion-item class="item-tru" menuClose (tap)="parrainage()">
        <ion-avatar item-start>
          <img src="assets/images/people.png">
        </ion-avatar>
		  	<p>Parrainage</p>
  	  </ion-item-->
      <ion-item class="item-tru" menuClose (tap)="openPage(help_p)">
  	    <ion-avatar item-start>
  	      <img src="assets/images/info.png">
  	    </ion-avatar>
		  	<p>Aide</p>
  	  </ion-item>
  	  <ion-item class="item-tru" menuClose (tap)="openPage(param_p)">
	      <ion-avatar item-start>
          <img src="assets/images/settings.png">
        </ion-avatar>
		  	<p>Paramètres</p>
  	  </ion-item>
      <ion-item class="item-tru" menuClose (tap)="setRootPage(driver_p)" *ngIf="!isDriver">
        <ion-avatar item-start>
          <img src="assets/images/driver-white.png">
        </ion-avatar>
        <p>Espace chauffeur</p>
      </ion-item>
      <ion-item class="item-tru" menuClose (tap)="setRootPage(option_p)" *ngIf="isDriver">
        <ion-avatar item-start>
          <img src="assets/images/driver-white.png">
        </ion-avatar>
        <p>Espace Client</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
