// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.bg-register{
	background:#051a27;
}
.ion-ios-arrow-back{
	float:left;
	font-size:30px;
}
.item-tru{
 	margin-left: 33px;;
 	background:transparent;
 	margin-top: 4px;
 	max-height: 1px;

    p {
    font-size: 12px;
	font-weight: normal;
	color:#fff;
    }

}

.service{

    position: fixed;
    width: 150px;
    line-height: 3px;
    bottom: 165px;
    left: 5%;
    z-index: 2;

    button {
      background: #051a27;
      width: 40px;
      height: 40px;
      padding: 15px 5px;
    }
  }

    
.item-tru.item-block .item-inner {
    border-bottom: none;
}
.btn-menu{
	width: 60%;background: transparent;
	color: white;
	box-shadow: none;
	text-transform:capitalize;
}

.item-tr.item-block .item-inner {
    border-bottom:none;
}
.icon-men{
	text-align: right;
	.icon-md, .icon-ios {
		font-size: 32px !important ;
	}

}

.pro-img2{
	text-align: center;
    margin-top: 15px;

    img{
		width: 72px;
		border-radius: 50%;
		height: 71px;
		margin-bottom: 35px;
		margin-top: 30px;
		z-index: -9999;
	}
	h1{
		color: #fff;
		margin-top: -13px;
		margin-bottom: 54px;
		font-size: 18px;
		font-weight: 500;
    }
}
.list-ios > .item-block:first-child ,.list-ios > .item-block:last-child  {
	border:unset ;
}

ion-list {
	p {
		margin-left: 10px ;
	}

	ion-avatar {
		margin-right: 3px !important;
		img {
		   width: 18px !important;
	       height: auto!important;
	       border-radius: 50%;
	       overflow: hidden;
	       margin: 4px;
	    }   
   }

}
.icon-men .icon-md, .icon-men .icon-ios {
    font-size: 27px !important;
}
.item-ios ion-avatar ,.item-md ion-avatar {
    min-width: 36px;
    min-height: 33px;
}

.icon-md ,.icon-ios
{
	color: white ;
	font-size: 20px !important;
}

.item-ios.item-block .item-inner
{
	border-bottom: unset;
}

.submit-btn.button-ios , .submit-btn .button-md
{
	text-transform: uppercase;
}
.toolbar-background-ios , .toolbar-background-md {
  border-color: #b2b2b2;
  background: #051a27 !important;
}
.bar-button-default-ios {
    color: transparent;
    background-color: transparent;
    padding-left: 23px;
}

.header-md::after, ion-navbar > div:first-child {
    background : transparent !important; 
    border-bottom: unset !important;
}
.menu-inner {
	width: 60%;
}
.pro-img2 img {
	width: 50px;
	height: 50px;
}
.pro-img2 h1 {
	font-size: 14px;
}
 ion-footer .toolbar {
	z-index: 0 !important;
}

page-map {
	.toolbar-background-ios, .toolbar-background-md {
		//background-color: unset !important;
		background-color: #f6f6f6 !important;
	}
}

.position{
	//height: 148px;
	height: 170px ;
}
.footer-md::before {
	top: unset;
    bottom: 0;
}

 page-parametres, page-waiting-list , page-driver-vehicles 
 , page-add-vehicle ,page-profile, page-payment 
 ,page-my-course,page-error,page-forgout ,page-stripe ,page-help , page-racing-detail {
	ion-header {
		border-bottom: 1px solid #00ffd8;
		.ion-ios-arrow-back {
		    font-size: 16px!important;
		    position: relative;
		    left: 12px;
		}
		.titles{
			 font-size: 1.4rem;
		    font-weight: normal;
		    color: #fff !important;
		    text-transform: uppercase;
		}
		.icon-ios, .icon-md {
		    color: #00ffd8 !important;
		}
		.toolbar-title {
		    font-size: 1.4rem;
		    font-weight: normal;
		    color: #fff !important;
		    text-transform: uppercase;
		}
		button .ion-ios-arrow-back {
		    font-size: 16px!important;
		    position: relative;
		    left: 1px !important;
		}
		.bar-button-ios {
		    color: transparent;
		    background-color: transparent;
		    padding-left: 6px !important;
		}
		.toolbar-content-md {
			text-align: center;
			label {
				 font-size: 1.4rem;
				 margin-left: -63px;
			}
		}
		
	}
	.card-header-md ,.card-header-ios{
	    font-size: 14px !important;
	    color: #222;
	    padding: 16px;
	}
	
}