<ion-header class="header-fv">
  <ion-navbar>
    <ion-title class="title-fv">Favoris</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
		<ion-list>
		  <ion-item>
		  	<ion-label>
		  		<ion-icon  class="icon-md_ icom-ios_">
		  			<ion-img src="assets/images/home.png" class="homes"></ion-img>
		  		</ion-icon>
		  	</ion-label>
		    <ion-input margin-right id="other" placeholder="Autres lieux enregistrés" [(ngModel)]="other.name"></ion-input>
		  </ion-item>
		</ion-list>
		<ion-row>
	      <button ion-button round class="submit-btn lg" full type="submit" (tap)="save(other)">Enregistrer</button>
	  </ion-row>
</ion-content>
