<div class="position">
	<div ion-item class="loading-bloc"  *ngIf="search">
	  <button ion-button item-end (tap)="cancelSearch()">
      	<ion-icon ios="ios-close" md="ios-close"></ion-icon>
      </button>
      <ion-spinner item-start name="ios"></ion-spinner>
      <p class="loading-text"> Veuillez patienter pendant la recherche du chauffeur </p>
    </div>
	<div ion-item class="loading-bloc" *ngIf="!search">
      <p class="loading-text">Aucun véhicule n'est trouvé</p>
    <button ion-button item-end (tap)="cancelSearch()">
        <ion-icon ios="ios-close" md="ios-close"></ion-icon>
      </button>
    </div>
</div>