loading {
	position: absolute;
    bottom: 0;
    z-index: 10;
    background: white;
    width: 100%;
	.loading-text{
		font-size:12px;
		color: #051a27;
    	font-weight: 700;
	}
	.loading-bloc{
		top: 36%;
    	text-align: center;
    	background-color: transparent;
		.button-ios, .button-md {
			background-color: transparent !important;
			box-shadow: none !important;
			.icon-ios, .icon-md {
			    color: black;
			    font-size: 30px !important;
			}
		}
	}
	.loading_ .button-md , .button-md.activated ,.loading_ .button-ios , .button-ios.activated {
		background-color: transparent !important;
    	-webkit-box-shadow: none !important;
    	box-shadow: none !important;
	}

	.item-ios{
		background-color: transparent;
	}
	.spinner-md-ios line, .spinner-md-ios-small line {
    	stroke: #051a27;
	}
	.spinner-ios-ios line, .spinner-ios-ios-small line {
	    stroke: #051a27;
	}
	.position{
		// padding-top: 24px ;
	}
	.item-md.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: 0px solid #dedede;
	}

}
