page-waiting-list {

	ion-header {
		ion-icon {
			width: 50px;
			height: 15px;
			z-index: 100
		}
	}

	.back-button.show-back-button {
		display: none;
	}
	ion-content{
	  background-color: #051a27 !important;
	}
	.icon-md, .icon-ios {
		color: black ;
	}
	.item-md ion-thumbnail img {
	    width: 56px;
	    height: 56px;
    }
    .item-md ion-thumbnail {
	    min-width: 56px;
	    min-height: 56px;
	}
	.toolbar-title-md, .toolbar-title-ios {
	    color: white;
	    text-align: center;
	}
	.toolbar-title-ios{
		font-size: 2rem;
	}
	.content-ios .scroll-content {
		margin-top:68px !important ;
	}
	button.item-ios:not([detail-none]) .item-inner {
		padding-right: 10px ;
		background-image: unset ;
	}
	.card-v{
		height: 58px;
		margin: 10px;
	    border-radius: 2px;
	    width: calc(100% - 20px);
	    border-bottom: 1px solid #CCC;
	    background-color: #fff;
	    
	}
	.left{
		width: 60%;
	    padding-left: 6px;
	    padding-right: 6px;
	    padding-top: 12px;
	    padding-bottom: 20px;
	    float: left;
	}
	.right{
	    padding-top: 3px;
	    padding-bottom: 15px;
	    width: 40%;
	    float: right;
	}
	.van-vecl{
	    width: 73%;
	    height: 48px;
    	margin-left: 29px;
	}
	.condui{
		font-size: 1.4rem;
	    font-weight: 700;
	    margin-left: 6px;
	    margin-top: 7px;
	}
}
