<ion-header>
  <ion-navbar>
    <ion-icon class="icon icon-ios ion-ios-arrow-back" (tap)="pop()"></ion-icon>
    <ion-title>Liste d'attente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <div class="card-v">
  	<div class="left">
  		<h2 class="condui">Vous conduisez une <span class="vecl">{{ vehicle.type }}</span></h2>
  	</div>
  	<div class="right">
  		<img src="assets/images/{{ vehicle.type | lowercase }}.png" class="van-vecl">
  	</div>
  </div>
 <ion-card>
  <ion-card-header>
  	Liste des clients
  </ion-card-header>
	<ion-list>
	  <button ion-item *ngFor="let client of clients" (tap)="check(client)">
	    <ion-thumbnail item-start>
	      <img src="assets/images/client.png">
	    </ion-thumbnail>
	    <h1>{{ client.firstName }}</h1>
	    <p>{{ client.name }}</p>
	    <ion-icon item-end ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
	  </button>
	</ion-list>
 </ion-card>
</ion-content>
