
page-my-course {
	.mycourse{
	  background:#051a27;
	}
	.title-p{
		font-size: 1.4rem;
	    font-weight: normal;
	    color:#FFF;
	    text-transform:uppercase;
	}
	.back-button-icon-md,.back-button-icon-ios{
		color:#02a18f;
	}
	.ion-ios-arrow-back{
		float:left;
		font-size:30px;
		color:#00ffd8;
	}
	.toolbar-background-md {
	    border-color: #d0d0d0;
	    background: #051a27;
	}
	.toolbar-title-md {
		color:#fefefe;
	    text-align: center;
	}
	ion-navbar.toolbar {
	   border-bottom: 1px solid #00ffd8;
	}
	.ion-ios-arrow-forward{
		color: #00ffd8;

	}

	.center{
		text-align: center;
		color:#fefefe;
		font-weight: 100;
		margin-bottom: 17px;
	}
	.submit-btn{
		background: #00ffd8;
		color: #051a27;
		border-radius: 0px;
		text-transform: capitalize;
	}

	.clear{
		margin-bottom: 60px;
	}

	.btn-cl{
		text-align: right;
		width: 95%;
		padding-bottom: 34px;
        padding-right: 21px;
	}
	.submit-btn{
		border-radius: 0px;
		width: 58%;
		margin-button: 12px;
		background: #00ffd8;
		color: #010101;
		font-weight: normal;
		height: 33px;
		opacity: 1 !important;
		text-transform: unset !important ;
		span {
    		font-size: 0.7em;
		}
	}
	.footer-ios .toolbar-background-ios {
		border: unset ;
	}
	 .center{
		border: 1px solid #00ffd8;
		padding-top: 5px;
		padding-bottom: 5px;
	}

}

