 
<ion-header>
  <ion-navbar>
    <ion-title>
      <label class="title-p">MES COURSES</label>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="mycourse" >
   <div class="clear"></div>
	<ion-row class="center" (tap)="detail(course)" *ngIf="course.date && course.origin && course.destination">
	 	<ion-col>
	 		{{ course.date }}
		</ion-col>
		<ion-col>
	 		{{ course.origin.placeName }}...{{ course.destination.placeName }}
		</ion-col>
		<ion-col>
	 		en cours
		</ion-col>
	</ion-row>
	<ion-row class="center" (tap)="detail(course)" *ngFor="let course of courses">
	 	<ion-col>
	 		{{ course.date }}
		</ion-col>
		<ion-col>
	 		{{ course.origin.placeName }}...{{ course.destination.placeName }}
		</ion-col>
		<ion-col>
			{{ course.status }}
		</ion-col>
	</ion-row>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<div class="btn-cl">
		    <button ion-button (tap)="signaler()" class="submit-btn md" type="submit">Signaler un problème ?</button>
		</div>
	</ion-toolbar>
</ion-footer>

