<ion-header>
  <ion-navbar>
    <ion-title class="titles"><label>Mot de Passe oublier</label></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg-register">
  <div>
  <div class="logo">
    <img src="assets/images/logo.png" nav-clear menu-close ui-sref="  app.speakers">
  </div>
  <form (ngSubmit)="sendMail()" [formGroup]="form">
    <ion-row>
      <ion-item class="register">
       <ion-label><ion-icon  class="icon-md_ icom-ios_"><ion-img src="assets/icon/img-login.png" class="img-mail"></ion-img></ion-icon></ion-label>
        <ion-input type="email" placeholder="Email" name="email" formControlName="login" required></ion-input>
      </ion-item>
    </ion-row>
        <div style="color:white;margin-left:115px;font-size: 10px">{{message}}</div>
    <ion-row>
        <button ion-button round class="submit-btn lg" full type="submit">Valider</button>
    </ion-row>
  </form>
  </div>
</ion-content>