page-forgout {
	.logo{
		width: 35%;
		bottom: 57px;
		margin: 0 auto;
		margin-bottom: 45px;
		margin-top: 75px;
		margin-bottom: 100px;
		margin-top: 75px;
	}
	.register.item-block{
		width: 75%;
		margin:0 auto;
		background:transparent;
		margin-bottom: 23px;
	    font-size: 13px;
	}
	.register.item-block:first-child{

	    border-bottom: 1px solid #dedede;
	}
	.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
	    color: #fff;
	}
	.text-input-md {
	    color: #fff;
	}
	.register-2.item-block{
		width: 75%;
		margin: 0 auto;
		margin-top: 0px;
		margin-bottom: 0px;
		background: transparent;
		margin-bottom: 23px;
		font-size: 13px;
		color: #fff;
		margin-top: 7px;
		margin-bottom: 45px;
	}
	.submit-btn{
		border-radius: 0px;
		width: 75%;
		margin: 0 auto;
		background: #00ffd8;
		color: #010101;
		font-weight: bold;
		height: 38px;
		margin-top: 75px;
		margin-bottom: 75px;
		opacity: 1 !important;
		text-transform: unset !important ;
	}
	.item-md.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: 0px solid transparent;
	}
	ion-label.mdp-oublie {
		color: #fff;
		font-size: 12px;
		font-weight: 300;
		 padding-left: 41px;
         padding-right: 41px;
		> p:first-child {
			display: block;
			float: left ;
		}
		> p:nth-child(2) {
			display: block;
			float: right;
		}

	}
	.register {
		padding-left: 9px;
		ion-img {
			background-color: transparent;
			min-height: 24px;
		}
		.text-input {
			color: white ;
		}
		ion-label {
			margin: 0px ;
		}
		border-bottom: white ;
		::placeholder {
			color: white ;
		}
	}
	ion-img.img-loaded img {
    display: block;
    width: 20px;
    }
    .register.item-block:last-child{
		border-bottom: unset ;
	}
    .register.item-block:first-child{
		margin-bottom: 12px ;
	}
	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
	    border-bottom-color: unset!important;
	    -webkit-box-shadow: unset!important;
	    box-shadow: unset!important;
    }
    .item-md.item-input.item-input-has-focus .item-inner {
	   	border-bottom-color: unset!important;
	    -webkit-box-shadow: unset!important;
	    box-shadow: unset!important;
    }
    .item-md.item-block .item-inner {
    	box-shadow: unset!important;
	}
}
