<ion-header padding margin-bootom>
  <ion-navbar>
    <ion-title>
      <label class="title-p">PARAMETRES</label>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content  class="mycourse">
<div class="clear"></div>
  <ion-card (tap)="openProfile()">
	<ion-row class="center">
		<ion-item>
	      <ion-avatar item-start>
	        <img *ngIf="!profile.photo_url" src="assets/images/client.png"/>
	    	<img *ngIf="profile.photo_url" src="{{ profile.photo_url }}"/>
	      </ion-avatar>
	      <h1 class="param-h">{{ profile.firstName }} {{ profile.name }}</h1>
	      <h1 class="param-h">{{ profile.phoneNumber }}</h1>
	      <h1 class="param-h">{{ user.email }}</h1>
	      <ion-note item-end><ion-icon class="icon icon-ios ion-ios-arrow-forward icon-md" role="img"></ion-icon></ion-note>
	    </ion-item>
	</ion-row>
  </ion-card>
<ion-list no-lines >
	  <ion-item class="dom">
	    <label class="fav">Favoris</label>
	  </ion-item> 

     <ion-item class="dom ht" (tap)="adressPro()">
	    <label>Ajouter une adresse professionnelle</label>
	    <ion-icon class="icon icon-ios ion-ios-arrow-forward" item-right nav-clear menu-close ui-sref="  app.speakers"></ion-icon>
	  </ion-item>

	  <ion-item class="dom" (tap)="homeState()">
	    <label>Domicile</label>
	    <ion-icon class="icon icon-ios ion-ios-arrow-forward" item-right></ion-icon>
	  </ion-item>
	
	  <ion-item class="dom er ht" (tap)="otherPlace()">
	    <label>Autres lieux enregistrés</label>
	    <ion-icon class="icon icon-ios ion-ios-arrow-forward" item-right></ion-icon>
	  </ion-item> 
</ion-list>

<ion-list no-lines>
	  <ion-item class="dom">
	    <label class="fav">Evènements</label>
	  </ion-item>

	  <ion-item class="dom" (tap)="calandarParam()">
	    <label>Connecter votre calendrier</label>
    	<ion-icon class="icon icon-ios ion-ios-arrow-forward" item-right></ion-icon>
	  </ion-item>
    </ion-list>

</ion-content>
<ion-footer>
    <button ion-button  class="submit-btn md" type="submit" full (click)="logout()">Déconnexion</button>
</ion-footer>