
page-parametres {
	.item-ios ion-avatar img {
	   width: 56px;
   	   height: 56px;
	}
	.item-md p{
	font-size: 12px;
	line-height: 21px;
	color:#797979;
	}
	.title-p{
		font-size: 1.4rem;
	    font-weight: normal;
	    color:#FFF;
	    text-transform:uppercase;
	}
	.mycourse{
	  background:#051a27;
	}
	.ion-ios-arrow-back{
		float:left;
		font-size:30px;
		color:#00ffd8;
	}
	.toolbar-background-md {
	    border-color: #d0d0d0;
	    background: #051a27;
	}
	.toolbar-title-md {
		color:#fefefe;
	    text-align: center;
	}
	// ion-navbar.toolbar {
	//    border-bottom: 1px solid #00ffd8;
	// }
	.ion-ios-arrow-forward{
		color: #00ffd8;
	}

	.center{
		text-align: center;
		color:#fefefe;
		font-weight: 100;
		margin-bottom: 17px;
		.item{

		background:transparent;
		box-shadow: none;
		right: -27px;
		}
		.icon{
			margin-top: 10px;
		margin-right: 40px;
		}
	}
	.submit-btn{
		border-color: #ed3939;
		background-color: #ed3939;
	    color: #fff;
	    text-transform: capitalize;
	    height: 3.9em;
    	border-radius: 0px !important;
    	margin: 0px;
	}
	.button-md:hover:not(.disable-hover) {
	    background-color: rgb(230, 26, 11);
	}
	ion-note {
	    font-size: 12px;
	    align-self: flex-start;
	    margin-top: 14px;
	}
	.item-md {
	    background-color: #051a27;
	    -webkit-box-shadow:  background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
	    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.title_{
		color:#fff !important;
		font-size: 13px !important;
	}
	.item-md.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: 0px;
	}
	.ion-ios-arrow-forward {
	    font-size: 30px;
	    color: #00ffd8;
	    padding-top: 12px;
	}
	.item-md ion-avatar ion-img, .item-md ion-avatar img {
	    border-radius: 50%;
	    overflow: hidden;
	    width: 56px;
	    height: 56px;
	}
	.dom{
	background: transparent;
	color: white;
	box-shadow: inherit;
	margin-left: 28px;
		.fav{
	color: #00ffd8;
	font-size: 13px;
		}
		.label{
	font-size: 14px;
		}
		.icon{
	padding-right: 40px !important;
		}
		.item-inner{
	border-bottom: 1px solid #27353f !important;
		}
	}
	.er{
		.item-inner{
	border-bottom: 1px solid transparent !important;
		}
	}
	.co{
	margin-top: 29px;
		.item-inner{
	border-top: 1px solid #27353f !important;
		height:51px;
		}
	}
	.ht{
		.item-inner{
		height:51px;
		}
	}
	ion-card{
	width: 100% !important;
	margin: 0 auto!important;
	background: #0d212e!important;
	box-shadow: inherit!important;
	}
	.param-h{
		color: #FFF;
    	font-size: 12px;
	}
}
