 
<ion-header>
  <ion-navbar>
    <ion-title>
      <label class="title-p">Details</label>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="outer-content">
  <ion-list>

    <ion-item>
      <ion-label>Date: {{ course.date }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Lieux de depart: {{ course.origin.placeName }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Lieux d'arrivée: {{ course.destination.placeName }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label *ngIf="!course.price">Prix: en cours </ion-label>
      <ion-label *ngIf="course.price">Prix: {{ course.price }} €</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Chauffeur: {{driver.name}} {{driver.firstName}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
