page-vote {
	ion-card {
		ion-card-header {
			text-align: right;
			.icon-ios ,.icon-md {
				color: #000 ;
			}
			button {
				background-color: transparent;
			}

		}
		margin-top: 54%!important;
		ion-card-content {		
			.icon-star {
				ion-icon {
				   font-size: 21px !important;
				}	
				button {
	    		   margin-right: 10%;
	    		   background-color: transparent;
				}
				ion-icon.check {
					color: #01ffd8 ;
				}
				ion-icon.uncheck {
					color: silver ;;
				}
				button:last-child {
					margin-right: unset ;
				}
			}
			.default-btn{
				border-radius: 0px;
				width: 40%;
				margin: 0 auto;
				background: #00ffd8;
				color: #010101;
				font-weight: bold;
				height: 33px;
				opacity: 1 !important;
				text-transform: none;
			}
			ion-item:last-child ion-label {
				text-align: center;
			}
			.item-ios ion-thumbnail img {
			    width: 80px;
			    height: 80px;
			}
		}
	}
	.content-ios,.content-md {
	    background-color: transparent;
	}
	.price_{
		text-align: center;
	    font-size: 2.9em;
	    font-weight: 700;
	    padding-bottom: 11px;
	}
	.checked_{
	    width: 11%;
		float: right;
	}
}
