
<ion-content >
  <ion-card>
    <ion-card-content>
    	<h3 class="price_">{{price}} € <img src="assets/icon/checked.png" class="checked_" *ngIf="paid"></h3>
      <ion-item>
         <ion-thumbnail item-start>
          <img src="assets/images/driver.png" *ngIf="!profileDriver.photo_url">
          <img [src]="profileDriver.photo_url" *ngIf="profileDriver.photo_url">
	    </ion-thumbnail>
	    <h2>{{ profileDriver.name}}</h2>
	    <p>{{ profileDriver.firstName }}</p>
	  </ion-item>
	  <ion-item class="icon-star">
	      	<div>
	      	  <button>
	       	  	<ion-icon name="star" [(ngClass)]="checks[0]" (tap)="check(0)"></ion-icon>
	      	  </button>
	      	  <button>
	       	  	<ion-icon name="star" [(ngClass)]="checks[1]" (tap)="check(1)"></ion-icon>
	      	  </button>
	      	  <button>
	       	  	<ion-icon name="star" [(ngClass)]="checks[2]" (tap)="check(2)"></ion-icon>
	      	  </button>
	      	  <button>
	       	  	<ion-icon name="star" [(ngClass)]="checks[3]" (tap)="check(3)"></ion-icon>
	      	  </button>
	      	  <button>
	       	  	<ion-icon name="star" [(ngClass)]="checks[4]" (tap)="check(4)"></ion-icon>
	      	  </button>
	      	</div>
	      </ion-item>
	  <ion-item>
	  	<button ion-button class="default-btn" (tap)="checkout()" *ngIf="!paid">
	  		Payer
	  	</button>
	  	<button ion-button class="default-btn" (tap)="checkout()"  *ngIf="paid">
	  		Ok
	  	</button>
	  </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
