<div>
  <div class="position">
      <ion-grid id="grid-top">
      <ion-row>
        <ion-col col-6 col-sm>
                <button ion-button class="submit-btn-disp-commande lg" full (tap)='ok()'><img src="assets/images/verified.png" class="icons-disp"> Je viens</button>
        </ion-col>
        <ion-col col-6 col-sm>
                <button ion-button class="submit-btn-disp-commande lg" full (tap)="no()"><img src="assets/images/cross.png" class="icons-disp"> Je ne peux pas venir</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>