disponibility {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
.submit-btn-disp-commande{
	border-radius: 0px;
    width: 90%;
    margin: 0 auto;
    background: #00ffd8;
    color: #010101;
    font-weight: 700;
    height: 38px;
    margin-top: 75px;
    margin-bottom: 75px;
    opacity: 1 !important;
    text-transform: unset !important;
    font-size: 11px;
    margin-left: 1px;
}
#grid-top{
	margin-top: -57px;
}
.icons-disp{
	width: 12%;
    margin-left: 0px;
    margin-right: 8px;
}
	
}
