<ion-header>
  <ion-navbar>
    <ion-title>
      <label class="title-p">Stripe</label>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div>
    <form novalidate (ngSubmit)="saveCard($event)" [formGroup] = "stripeForm">
      <ion-input class="input-name" type="text" formControlName="name" placeholder="Nom sur la carte"></ion-input>
      <div id="card-element" class="field" #card></div>
      <p>{{messsage}}</p>
      <p>{{cardSaved.name}}</p>
      <button ion-button type="submit" round  class="submit-btn lg" full *ngIf="!price">Valider</button>
      <button ion-button type="submit" round  class="submit-btn lg" full *ngIf="price">Payer</button>
    </form>   
  </div>
      <!-- <button (tap)="pay()" ion-button type="submit" round  class="submit-btn lg" full>Payer</button> -->
</ion-content>
