page-stripe {
	.content-md, .content-ios {
		background:#051a27;
	}
	.scroll-content {
	    bottom: 0px;
	    margin-bottom: 0px;
	 
	}
	ion-label {
		color: #00ffd8 !important;
		font-size: 15px
	}
	.registers.item-block {
	    width: 75%;
	    margin: 0 auto;
	    margin-bottom: 0px;
	    background: transparent;
	}
	.registers.item-md {
	    padding-left: 0px;
	}
	 
	.btn_btn_sub {
	    height: 28px;
	 
	}
	.second{
	    margin-top: -50px;
	}
	.pnr2{
	    
	}

	.in{
	    .text-input{
	        border-right: 1px solid;
	    }
	}
	.text-input {
		color: white ;
		font-size: 15px ;
	}
	.submit-btn{
		border-radius: 0px;
		width: 68%;
		margin: 0 auto;
		background: #00ffd8;
		color: #010101;
		font-weight: bold;
		height: 33px;
		margin-top: 25%;
		margin-bottom: 25%;
		opacity: 1 !important;
		text-transform: unset !important ;
	}
	form {
		.item-md.item-block .item-inner {
		    border-bottom: 0px solid transparent;
		}
		.item-md.item-input.item-input-has-focus .item-inner {
		   	border-bottom-color: unset!important;
		    -webkit-box-shadow: unset!important;
		    box-shadow: unset!important;	
   		}
	}
	.registers-grid{
	    margin-left: 32px;
	}
	.datetime-text{
		color: #FFF;
		font-size: 14px;
	}
	.datetime-md,.datetime-placeholder {
	    color: #FFF !important;
	    font-size: 14px;
	}
	.datetime-ios,.datetime-placeholder {
	    color: #FFF !important;
	    font-size: 14px;
	}
	.registers-grid-sencond{
	
	}
	.input-name {
      color: #FFF;
      line-height: 40px;
      font-weight: 300;
      font-size: 18px;
		::placeholder {
			color: white ;
		}
	}

}
