page-option {
	ion-header {
		button {
			 box-shadow: unset!important

		}
		.icon {
			font-size: 31px !important;
			margin-left: 16px;
		}
	}
	.logo1{
		margin: 0 auto;
		margin-top: 40px;
		width: 79px;
        height: auto;
	}
	h1{
		color: #fff;
		text-align: center;
		font-size: 23px;
		font-weight: 500;
		letter-spacing: 1px;
		margin-top: 35px;
		margin-bottom: 45px;
	}
	.text-service {
		color: #fff;
		width: 75%;
		margin: 0 auto;
		font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.2px;
		p:first-child {
		}
		p:nth-child(2) {
			text-align: center;
		}
		p:last-child {
			text-align: center;
		}
	}
	.text-v{
		font-size:11px;
		text-align: center;
	}
	.submit-btn{
		width: 75%;
		border: 0px;
		border-radius: 0px;
		margin: 0 auto;
		height: 43px;
		font-size: 12px;
		color:#000;
		font-weight: 500;
		letter-spacing: 0.2px;
	}
	.act1{
		background:#fff;
		margin-top: 100px;
		margin-top: 62px;
	}
	.act2{
		background:#00ffd8;
		margin-top: 15px;
	}
	.toolbar-background-md {
	    border-color: transparent;
	    background: transparent;
	}
	@media(max-width:365px){
		.submit-btn{
			font-size: 10px;

		}
	}
	@media(max-width:298px){
		.submit-btn{
			font-size: 8px;

		}
	}
	.button[icon-only] {
	    padding: 0;
	    min-width: .9em;
	    width: 8%;
	    background: transparent;
	    float: left;
	}

}
