<ion-header>
  <ion-title>
    <div margin >
      <button ion-button icon-only menuToggle margin-left>
        <ion-icon name="menu"></ion-icon>
      </button>
    </div>
  </ion-title>
</ion-header>
<ion-content  class="bg-register">
  	<div class="logo1">
	    <img src="assets/images/fly.png" nav-clear menu-close ui-sref="app.speakers">
  	</div>
  	<h1>Services de Localisation</h1>
  	<div class="text-service">
      <p class="text-v">Activez les services de localisation dans les</p>
      <p class="text-v">paramètres de votre appareil afin d’améliorer</p>
      <p class="text-v">votre expérience de prise en charge.</p>
  	</div>
	<ion-row>
	    <button ion-button round class="submit-btn act1" full type="submit" (tap)="enableLocation()">
        ACTIVER LES SERVICES DE LOCALISATION
      </button>
	</ion-row>
	<ion-row>
	    <button ion-button round class="submit-btn act2" full type="submit" (tap)="enter()">SAISIR L'ADRESSE DE PRISE EN CHARGE</button>
	</ion-row>
</ion-content>
