calling-driver {
  position: absolute;
  bottom: 0;
  z-index: 10;
  background: white;
  width: 100%;
  
  span.time {
    color: #00ffd8;
    float: right;
  }
  
  .ratting {
    color:#00ffd8;
  }

  div.input-wrapper {
    max-height: 71px;
  }
  
    #driver_contact {
    position: absolute;
    z-index: 2;
    bottom: 0;
    height: 25%;
    min-height: 165px;

      .detail {
        width: 60%;
        padding: 0 25px;
        float: left;

        span.time {
          color: #00ffd8;
          float: right;
        }
      }

      ion-item, ion-thumbnail, div, ion-label {
        margin: 0;
        padding: 0;

        img {
          width: 100%;
          height: auto;
        }
      }

      ion-item {
        height: 55%;
      }

      .profil_driver {
        width: 25%;
      }

      button {
        width: 30%;
        margin-top: 10px;
        height: 40px;
        color: black;
        border-radius: 0;
        background: #00ffd8;

        ion-icon {
          position: absolute;
          left: 15px;
        }
      }
  }
  .position {
    width: 100%;
    top: 78%;
    background: #f6f6f6;
    line-height: 3px;
    padding-top: 0px;
    height: 137px;

    .item-md{
      background:#f6f6f6;
      padding-left:0px;
    }
    .item-inner{
      border-bottom:none !important;
    }

  }
  .profiles{
    width: 29%;
    margin-top: 0px;
    float: left;
  }
  .vans{
    width: 71%;
  }
  .starts{
    width: 50%;
    margin-left: 23px;
    float: left;
  }
  .tels{
    float: right;
    margin-right: 4px;
    width: 41%;
  }
  .endre_name{
    font-size: 12px;
  }
  #calls{
    background: #00ffd8;
    background: #00ffd8;
    font-size: 14px;
    color: #000;
    height: 31px;
    width: 100%;
    right: -29px;
    top: -8px;
    .button-inner {
      font-size: 0.9em;
      text-transform: capitalize;
      font-weight: 700;
    }
  }
    #report{
    background: #00ffd8;
    font-size: 14px;
    color: #000;
    height: 25px;
    width: 130px;
    //top: -15px;
    top: -8px;
    //right: 9px;
    right: -29px;
    .button-inner {
      font-size: 0.7em !important;
      text-transform: lowercase;
      font-weight: 400;
    }
  }
  #occupy {
    background: #ff8f8f;
    font-size: 14px;
    height: 25px;
    width: 130px;
    top: -8px;
    right: -29px;
    .button-inner {
      color: #fff;
      font-size: 0.7em;
      text-transform: lowercase;
      font-weight: 400;
    }
  }
  #cancel{
    background: #ff8f8f;
    font-size: 14px;
    height: 25px;
    top: -13px ;
    width: 130px;
    right: -29px;

    .button-inner {
      color: #fff;
      font-size: 0.7em;
      text-transform: lowercase;
      font-weight: 400;
    }
  }
  div#botton-c {
    position: absolute;
    top:3px;
  }
  .apples{
    color: #000;
    margin-right: 12px;
    position: relative;
    left: -19px;
  }
  .item-ios{
    padding-left: 0px;
  }
  .position{
    height: 170px;
      .item-inner {
        border-bottom: none !important;
        min-height: 70px;
        padding: 0px !important ;
      img {
        max-height: 97px ;
        width:100% ;
      }
      h2 {
        margin: 2px 0;
        font-size: 1.3rem;
        font-weight: bold;
      }
      .tels {
        margin-right: 21px;
        margin-top: 9px;
        width: 36%;
      }
      .start-item ion label {
        margin-top: -11px;
      }
    }
    div.input-wrapper {
     max-height: 100%;
    }
    ion-label {
      margin:0px ;
    }
    ion-fab {
      top: 47px ;
      .fab-md,.fab-ios {
        background-color: rgba(0,0,0,0.28);
        border-radius:unset ;
        width: 18px;
        height: 25px ;
      }
    }
    ion-fab.right {
      right: 0 ;
    }
  }
  .driverIdentities {
    h2 {
      margin-top: 0;
      font-size: 1.8rem;
    }
  }
  #calls_s{
      margin-top: -2px;
      margin-left: -32px;
  }
  #charge{
    background: #afadad;
    font-size: 14px;
    color: #000;
    height: 31px;
    width: 100%;
    right: -29px;
    top: -13px;
    .button-inner {
      font-size: 0.9em;
      font-weight: 700;
      text-transform: initial;
    }
  }

}
