<div class="position">
    <ion-list id="destination-bloc" *ngIf="driver">
      <ion-item class="items-v">
          <div class="profiles">
            <img src="assets/images/client.png" *ngIf="!driver.photo_url"/>
            <img [src]="driver.photo_url" *ngIf="driver.photo_url"/>
          </div>
          <div class="vans">
            <img src="assets/images/vtc.png">
          </div>
      </ion-item>
      <ion-row>
        <ion-col col-6 class="driverIdentities">
          <div class="">
            <h2>{{ driver.firstName }} {{ driver.name }} <span class="time" *ngIf="run.duration">{{ run.duration }} mn</span></h2>
            <p class="endre_name"></p>
            <p class="icon-star">
              <span *ngFor="let rat of [0,1,2,3,4]">
               <ion-icon name="star" class="ratting" *ngIf="rat < driver.averageStars"></ion-icon>
               <ion-icon name="star" *ngIf="driver.averageStars <= rat"></ion-icon>&nbsp;
              </span>
            </p>
          </div>
        </ion-col>
        <ion-col col-6 id="calls_s">
          <button ion-button id="calls" (tap)="call(driver)"><ion-icon name="call" class="apples"></ion-icon> Appeler</button>
          <button ion-button id="charge" (tap)="supported(run)"> Pris en charge</button>
        </ion-col>
      </ion-row>
    </ion-list>
</div>
