page-error {
	.ion-ios-arrow-back{
		float:left;
		font-size:30px;
		color:#00ffd8;
	}
	.title-p{
		font-size: 1.4rem;
	    font-weight: normal;
	    color:#FFF;
	    text-transform:uppercase;
	}
	.back-button-icon-md,.back-button-icon-ios{
		color:#02a18f;
	}
	.toolbar-background-md {
	    border-color: #d0d0d0;
	    background: #051a27;
	}
	.toolbar-title-md {
		color:#fefefe;
	    text-align: center;
	}
	ion-navbar.toolbar {
	   border-bottom: 1px solid #00ffd8;
	   font-size:16px !important;
	}
	.ion-ios-arrow-forward{
		color: #00ffd8;

	}
	ion-content{
	  background-color: #051a27 !important;
	  
	}
	.errors{
	color:#FFF;
	}
}	
