page-your-race {
	ion-header {
		background-color: #f2f2f2;
	}
	ion-header .icon-md, .icon-ios, ion-title {    
		color: #000;
	}
	.item-md {
		background-color:transparent !important;
	}
	#pickUpDestination .item {
		margin-bottom: 10px;
	}
	#pickUpDestination img {
		width: 20px;
		margin: 0 15px 0;
	}
	#pickUpDestination {
		background-color: #f6f6f6;
		// margin: -20px !important;
		// padding: 5% 10% 10% 5%;
		ion-input {
			background-color: white ;
		}
		.item-input-has-focus,.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
		    border-bottom-color: transparent !important;
		    box-shadow: inset 0 -1px 0 0 transparent !important;
		    webkit-box-shadow:0 -1px 0 0 transparent !important;
		}
		ion-item {
			background-color: transparent;
		}
		ion-input.bg-silver {
			background-color:#d0d0d0;
			color: white ! important ;

		}
		ion-input.bg-silver.text-input {
			background-color:#d0d0d0;
			color: white !important;
		}
		.bg-silver {
		  .text-input::placeholder {
			  	color : white ;
		  }
		  .text-input {
		  	color :white !important;
		  }
	    }
		
	}
	
	// #pickUpDestination ion-input:active{
	// 	background-color:#d0d0d0;
	// }
	#address {
		margin-left: 15%;
	}
	.item-md.item-block .item-inner,.item-md.item-block .item-inner:focus {
		border-bottom: none;
	}
	.img_home {
		border-radius:0 !important;
		width: 23px !important;
		height: auto !important;
	}
	.inline {
		display: table-cell;
		vertical-align: middle;
		padding: 5px;
	}
	.text-input {
		color: black !important;
		font-size: 0.8em;
		
	}
	ion-label {
		margin-bottom: unset !important ;
	}
	ion-avatar {
		margin-right: unset !important;
	}
	ion-avatar img {
		width: 19px !important;
    	height: auto !important ;
	}
    ion-header {
    	border-bottom: 1px solid silver;
        .back-button-icon {
		    color: black;
		    box-shadow: inherit;
		    font-size: 16px;
	    }
	    ion-icon::before {
		    display: inline-block;
		    font-size: 16px;
	   }

	    button {
	    	//padding-left: 11px!important;
    	}
    	.toolbar-title-ios, .toolbar-title-md{
		    font-size: 2rem;
		    font-family: "Roboto", "Helvetica Neue", sans-serif;
		    font-weight: 500;
		    text-align: center;
		}
		.toolbar-ios ion-title {
			margin-left: 4% ;
		}
		.back-button-md {
			margin-left: -1px ;
		}
    }
    ion-list {
    	ion-item {
    		border-top:unset ;
    	}
    	.item-block{
    	    border-bottom: 0.55px solid #c8c7cc !important;
    	    padding-left: unset ;
    	}
    	ion-icon.ion-md-create {
    	  color: black;
          font-size: 14px !important;
    	}
    	.btn-edite ,.btn-edite:hover {
    		background-color: transparent;
    		box-shadow: unset ;
    	}
    }
    ion-header {
		// border-bottom: 1px solid #00ffd8;
		.ion-ios-arrow-back {
		    font-size: 16px!important;
		    position: relative;
		    left: 12px;
		}
		.icon-ios, .icon-md {
		    // color: #00ffd8 !important;
		    font-size: 16px !important ;
		}
		.toolbar-title {
		    font-size: 1.4rem;
		    font-weight: normal;
		    margin-left: -25px;
		    text-transform: uppercase;
		}
		.bar-button-ios {
		    color: transparent;
		    background-color: transparent;
		    padding-left: 6px !important;
		}
		.toolbar-content-md {
			text-align: center;
			label {
				 font-size: 1.4rem;
				 margin-left: -63px;
			}
		}
		
	}
   	.item-md.item-block .item-inner, page-your-race .item-md.item-block .item-inner:focus {
    	border-bottom: none;
    	box-shadow: unset!important;
	}

}