<ion-header>
 <ion-navbar>
    <ion-title>VOTRE COURSE</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  
  <div id="pickUpDestination" padding-vertical>
    <ion-item >
      <ion-label no-margin-top>
        <img src="assets/icon/departure.png" class="img_pickUp">
      </ion-label>
      <ion-input margin-right id="origin" clearInput placeholder="Adresse de prise en charge" [(ngModel)]="run.origin.placeName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <img src="assets/icon/destination.png" class="img_pickUp">
      </ion-label>
      <ion-input class="bg-silver"  margin-right clearInput id="destination"  placeholder="Lieu  d'arrivée" [(ngModel)]="run.destination.placeName"></ion-input>
    </ion-item>      
  </div>

</ion-content>
